:root {
  --my-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
    0px 8px 20px rgba(0, 0, 0, 0.08);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filelist-wrap {
  position: fixed;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--my-box-shadow);
}

.filelist-wrap .file-item {
  padding: 7px 16px;
  border-radius: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s ease;
}
.filelist-wrap .file-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.filelist-wrap .file-item + .file-item {
  margin-top: 6px;
}

.show-size-popover {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: var(--color-text-bold);
  padding: 5px 16px;
  border-radius: 8px;
  white-space: wrap;
  word-break: break-all;
  max-width: 600px;
  z-index: 9999999999;
  border: 1px solid #ddd;
}

.filelist-wrap .file-item.show-my-tooltip {
  text-overflow: unset;
}
